extends baseEmail
block content
    p Dear #{firstName},
    p Unfortunately Your Subscription has Expired! 🙏
    p Please click the below button to Re-Subscribe for a Month!.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Subscribe
    p If you need any help with booking your next tour, please don't hesitate to contact me!
    p - MMD KBR, CEO
